#heatmap-title {
  white-space: pre;
  color: black;
  font-size: 30px;
  background-color: transparent;
  width: auto;
  display: block;
  /* margin-bottom: 20px;  */
}

.button:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer; /* Changes the cursor to a hand icon */
}

