div#metadataScatterContainer {
  display: grid;
  grid-template-areas: 
    "scatterTitle scatterTitle scatterTitle scatterTitle"
    "scatterYAxis scatterSVG scatterLegendContainer additionalScatter"
    "null0 scatterXAxis null1 null2"
    "filterContainer filterContainer filterContainer filterContainer"
    "sampleFilter sampleFilter sampleFilter sampleFilter";
  grid-template-columns: 150px 700px 250px 600px;
  grid-template-rows: 60px auto auto auto auto; /* Adjusted to include filterContainer */
  margin: 10px;
}
svg#metadataScatterSVG {
  grid-area: scatterSVG;
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For older versions of IE */
}

#featureIDFileInput {
  display: none; /* Ensure the file input itself is hidden */
}

.upload-button {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(128, 252, 128); /* Initial background color to stand out */
  animation: pulse 1s infinite; /* Apply pulsing animation */
  transition: background-color 0.3s; /* Transition for background color change */
}

.upload-button.clicked {
  background-color: #f0f0f0; /* Change to static grey after click */
  animation: none; /* Stop pulsing animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

div#sampleFilterContainer {
    grid-area: sampleFilter;
}
#sampleFilterOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#sampleFilterOptions > div {
  display: flex;
  flex-direction: column;
}

#sampleFilterOptions > div {
  display: flex;
  flex-direction: column;
}

#filterContainer {
  grid-area: filterContainer;
  display: flex;
  flex-direction: row; /* Stack buttonContainer and otherElementsContainer vertically */
  gap: 20px;
  margin: 20px 0px;
  border-top: 2px solid #ccc; /* Add top border */
  border-bottom: 2px solid #ccc; /* Add bottom border */
  padding-top: 10px;  /* Optional: Add padding to separate content from the border */
  padding-bottom: 10px; /* Optional: Add padding to separate content from the border */
}

#buttonContainer {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100px;
}

#otherElementsContainer {
  display: flex;
  flex-direction: row; /* Arrange other elements side by side */
  justify-content: center;
  gap: 20px;
}

#filterControls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin:20px;
}

.filter-button {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0; /* Optional: Add a background color */
  transition: background-color 0.3s; /* Optional: Add a transition for hover effects */
}

.filter-button:hover {
  background-color: #e0e0e0; /* Optional: Change background on hover */
}

.filter {
  margin-bottom: 0px; /* Space between filters */
  justify-content: center;
}

.filter-row {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between elements in the row */
  margin-bottom: 10px; /* Space between rows */
}

#additionalScatterSVG {
    /* grid-area: additionalScatter; */
}
#controlButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#xAxisSelector {
  grid-area: scatterXAxis;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
#yAxisSelector {
  grid-area: scatterYAxis;
  flex-direction: column;
  width: 150px;
  justify-content: center;
}
#scatterLegendContainer {
  grid-area: scatterLegendContainer;
  display: grid;
  grid-template-areas:
  "scatterColorLegend"
  "scatterSizeLegend";
  grid-template-rows: 1fr 1fr;
}
#scatterColorSelector {
  grid-area: scatterColorLegend;
  flex-direction: column;
  width: fit-content;
}
#scatterSizeSelector {
  grid-area: scatterSizeLegend;
  flex-direction: column;
  width: fit-content;
}
#scatterTooltip {
  z-index: 10;
  pointer-events: none;
  width: fit-content;
  min-width: 200px;
}

#paginationContainer {
  grid-area: scatterTitle;
  justify-content: start;
  padding: 10px;
}

#paginationTooltip {
  z-index: 10;
  pointer-events: none;
  width: fit-content;
  min-width: 200px;
  max-width: 400px;
  height: fit-content;
}
#selectionBox {
  pointer-events: none;
}

#boxSelectionTooltip {
  margin-left: 10px;
  font-size: 12px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  height: auto;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}

.clickable-feature-id {
  text-decoration: underline;
}
.clickable-feature-id:hover {
  color: darkblue;
}

.description {
  font-weight: bold;
  margin-bottom: 10px;
}