/* set up general styles */
div.logicTree {
  border-radius: 10px;
}
h1.logicTree {
  text-align: center;
}
svg.logicTree {
  background-color: white;
  overflow: visible;
  margin: 12px;
}
text.logicTree {
  margin: auto;
  white-space: pre;
}
#header {
  font-size: 1rem;
}
.underline {
  text-decoration-line: underline;
}

/* setup parent-grid that contains the tree grid and button panel grid */
.parent-grid {
  display: grid;
  grid-template-columns: 40px 1400px;
  gap: 10px;
  align-items: start;
}

/* setup button grid */
#toggleOccurrenceButton { grid-area: toggleOccurrenceButton; }
#toggleIcicle { grid-area: toggleIcicle; }
#downloadA { grid-area: downloadA; }
#downloadB { grid-area: downloadB; }
.button-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3px;
  grid-template-areas: 
    "toggleOccurrenceButton"
    "toggleIcicle"
    "downloadA"
    "downloadB";
  margin-top: 10px;
}
.button-grid > * {
  width: 70px;
  text-align: left;
  padding-inline: 0px;
  padding-block: 0px;
}

#toggleOccurrenceButton, #toggleIcicle, #downloadA, #downloadB {
  font-size: 30px;
  padding-inline: 0px;
  padding-block: 0px;
  padding-inline-start: 4px;
}

/* set up styling for the grid that holds our content */
.myLogicTreeTable { grid-area: myLogicTreeTable; }
.blankRepThreshSliderA { grid-area: blankRepThreshSliderA; }
.repThreshSliderA { grid-area: repThreshSliderA; }
.cvThreshSliderA { grid-area: cvThreshSliderA; }
.mrlThreshSliderA { grid-area: mrlThreshSliderA; }
.blankRepThreshSliderB { grid-area: blankRepThreshSliderB; }
.repThreshSliderB { grid-area: repThreshSliderB; }
.cvThreshSliderB { grid-area: cvThreshSliderB; }
.mrlThreshSliderB { grid-area: mrlThreshSliderB; }
.occTreeA { grid-area: occTreeA; }
.occTreeB { grid-area: occTreeB; }
.logicTreeGrid-container {
  font-family: ui-rounded;
  /* margin: auto; */
  display: grid;
  align-items: left;
  justify-content: left;
  grid-template-areas: 
    'occTreeA occTreeA occTreeA occTreeB occTreeB occTreeB'
    'repThreshSliderA blankRepThreshSliderA myLogicTreeTable myLogicTreeTable repThreshSliderB blankRepThreshSliderB'
    'cvThreshSliderA mrlThreshSliderA myLogicTreeTable myLogicTreeTable cvThreshSliderB mrlThreshSliderB';
  gap: 3px;
  background-color: #313131;
  padding: 3px;
  outline: 2px solid #000000;
  margin: auto;
  width: 1400px;
  height: 720px;
  grid-template-columns: 1fr 1fr 200px 200px 1fr 1fr;
  grid-template-rows: 1fr 100px 100px 55px;
}
.logicTreeGrid-container > div.logicTree {
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 3px 0px;
  font-size: 0.95rem;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
div.occTreeA, div.occTreeB, div.featTreeA, div.featTreeB {
  padding: 0 0;
  margin: 0 1px;
}
div.logicTreeToggleButtons {
  background-color: #d1e9fb;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0px;
  font-size: 1rem;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  width: 398px;
}

/* set up styling for input / sliders */
input.logicTree {
  margin-top: 3px;
  margin-left: 14px;
  height: 20px;
  width: 100px;
  font-size: 16px;
  border-radius: 6px;
  padding-left: 8px;
}

/* set style for table */
table.logicTree {
  border-style: none;
  border-width: 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-spacing: 3px;
  position: relative;
  color: rgb(0, 0, 0);
  margin: auto;
  font-family: arial, sans-serif;
}
td.logicTree, th.logicTree {
  border: 1px solid #555555;
  border-radius: 3px;
  text-align: center;
  padding: 0.5rem 0.3rem;
}
th.logicTree {
  color: #ebebeb;
  background-color: #1c1c1c;
}
td.logicTree:nth-child(5n - 4) {
  text-align: left;
}
tr.logicTree:nth-child(5) {
  font-weight: bold;
}
tr.logicTree:nth-child(4) {
  background-color: #F999A4;
}
tr.logicTree:nth-child(3) {
  background-color: #B2B2B2;
}
.logicTreeSlider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 90%; 
  height: 14px; /* Specified height */
  background: #5f5f5f; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 20px;
  margin: 10px auto 6px auto;
  border: 1px solid white;
  padding: 0;
}
/* Mouse-over effects */
.logicTreeSlider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.logicTreeSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 21px; /* Set a specific slider handle width */
  height: 21px; /* Slider handle height */
  background: #8a8a8a; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
  padding: 0;
}
.logicTreeSlider::-moz-range-thumb {
  width: 28px; /* Set a specific slider handle width */
  height: 28px; /* Slider handle height */
  background: #6c6c6c; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
  padding: 0;
}

.slider_cv::-webkit-slider-thumb {
  background: #f15454;
}

.slider_mrl::-webkit-slider-thumb {
  background: #8e8e8e;
}

button.logicTree, button.toggleLogicTree {
  font-size: 16px;
  padding: 6px;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  color: black;
}

/* Setup button on-hover animations */
button.logicTree {
  border: 1px solid black;
  background-color: #ebebeb;
  -webkit-transition: 0.4s;
  transition: background-color 0.4s;
}

button.logicTree:hover {
  background-color: #f1e8a5;
}


